<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @payer.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @payer.name %>
</p>

<p>
  <strong>Brief name:</strong>
  <%= @payer.brief_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payer.status %>
</p>

<%= link_to 'Edit', edit_payer_path(@payer) %> |
<%= link_to 'Back', payers_path %>
