<%- model_class = Cost -%>
<%- income = @cost.income -%>

<div class="panel panel-info">
  <div class="panel-heading">
    <%= t("Income references") %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <strong><%= Income.human_attribute_name(:code) %> : </strong><%= income.code %>
      </div>
      <div class="col-md-4">
        <strong><%= Income.human_attribute_name(:payer) %> : </strong><%= income.payer.name %>
      </div>
      <div class="col-md-3">
        <strong><%= Income.human_attribute_name(:income_amount) %> : </strong><%= income.income_amount %>
      </div>
      <div class="col-md-3">
        <strong><%= Income.human_attribute_name(:actual_amount) %> : </strong><%= income.actual_amount %>
      </div>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:sn) %></th>
        <th><%= model_class.human_attribute_name(:payee) %></th>
        <th><%= model_class.human_attribute_name(:invoice_amount) %></th>
        <th><%= model_class.human_attribute_name(:cost_amount) %></th>
        <th><%= model_class.human_attribute_name(:unpaid_amount) %></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="2"><%= t("Sum") %></td>
        <td>$180</td>
        <td>$180</td>
        <td>$180</td>
      </tr>
      <tr>
        <td colspan="2"><%= Income.human_attribute_name(:available_amount) %></td>
        <td>$180</td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
    <tbody>
      <% income.costs.each do |cost| %>
        <tr class="clickableRow">
          <td><%= link_to cost.sn, cost_path(cost.id) %></td>
          <td><%= cost.payee.brief_name %></td>
          <td><%= cost.invoice_amount %></td>
          <td><%= cost.cost_amount %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= simple_form_for @cost, html: { class: 'form-horizontal' } , 
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>
  <%= f.error_notification %> 

  <div class="row">
    <div class="col-md-6">
    <%= f.input :sn %>
    <%= f.association :payee %>
    <%= f.association :income, label_method: :code, value_method: :id %>
    <%= f.input :abstract %>
    </div>
    <div class="col-md-6">
    <%= f.input :invoice_date, as: :datepicker %>
    <%= f.input :tax_rate, collection: Income::TAX_RATE %>
    <%= f.input :invoice_amount, as: :currency %>
    <%= f.input :explain %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
    <%= f.input :cost_date, as: :datepicker %>
    </div>
    <div class="col-md-6">
    <%= f.input :cost_amount, as: :currency %>
    </div>
  </div>

  <div class="form-group">
  <div class="col-sm-offset-3 col-sm-9">
    <%= f.button :submit, class: 'btn-primary' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                incomes_path, class: 'btn btn-default' %>
  </div>           
  </div>
<% end %>