<%= render 'costs/reference', cost: cost %>

<%= simple_form_for cost, html: { class: 'form-horizontal' } , 
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>
  <%= f.error_notification %> 

  <div class="row">
    <div class="col-md-6">
    <%= f.input :sn, readonly: true %>
    <%= f.association :income, label_method: :code, value_method: :id, disabled: true %>
    <input name="cost[income_id]" type="hidden" value="<%= cost.income.id %>">
    <%= f.association :payee, label_method: :code_name, value_method: :id, input_html: { class: 'js_select2' } %>
    <%= f.input :abstract %>
    </div>
    <div class="col-md-6">
    <%= f.input :invoice_date, as: :datepicker %>
    <%= f.input :tax_rate, collection: Income::TAX_RATE %>
    <%= f.input :invoice_amount, as: :currency %>
    <%= f.input :explain %>
    </div>
  </div>

<hr>
  <%= f.simple_fields_for :payments do |builder| %>
    <%= render 'costs/payment_fields', f: builder %>
  <% end %>
  <div class="pull-right">
    <%= link_to_add_fields(f, :payments, 'costs') do %>
      <span class="glyphicon glyphicon-plus"></span> <%= t(".add_payment") %>
    <% end %>
  </div>  


  <div class="form-group">
  <div class="col-sm-offset-3 col-sm-9">
    <%= f.button :submit, class: 'btn-primary' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                "", class: 'btn btn-default go-back' %>
  </div>           
  </div>
<% end %>

<script type="text/javascript">
function recalucate3amount() {
  var invoice_amount = $("#cost_invoice_amount").val();
  var cost_amount = 0;
  $("input[name^='cost[payments_attributes]'][name$='[amount]']").each(function() {
    var detail_amount = Number($(this).val());
    if(detail_amount)
      cost_amount += detail_amount;
  }); 


  $("tr.active .invoice_amount").html(invoice_amount);
  $("tr.active .cost_amount").html(cost_amount);
  $("tr.active .unpaid_amount").html(invoice_amount - cost_amount);
  recalucateReference();
}

$("#cost_invoice_amount").change(function() {
  recalucate3amount();
});

$("#cost_payee_id").change(function() {
  $("tr.active .payee").html($("#cost_payee_id option:selected").text());
});

(function() {
  $('form').on('click', '.add_fields', function(event) {
    var regexp, time, new_revence;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    new_revence = $(this).data('fields').replace(regexp, time);
    $(new_revence).insertBefore($(this).parent()).find('div.input-group.datepicker').datetimepicker({format: "YYYY-MM-DD", locale: "zh-CN"});
    return event.preventDefault();
  });

  $('form').on('click', '.glyphicon-remove', function(event) {
    $(this).prev().val(1);
    $(this).closest('.row').hide();
  });

  $('form').on('change', "input[name^='cost[payments_attributes]'][name$='[amount]']", function(event) {
    recalucate3amount();
  });

}).call(this);
</script>