<div class="well">
<%= simple_form_for cost, html: { class: 'form-horizontal' } , 
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>
  <%= f.error_notification %> 

  <div class="row">
    <div class="col-md-6">
    <%= f.input :sn, readonly: true %>
    <%= f.association :income, label_method: :code, value_method: :id, disabled: true %>
    <input name="cost[income_id]" type="hidden" value="<%= cost.income.id %>">
    <%= f.association :payee %>
    <%= f.input :abstract %>
    </div>
    <div class="col-md-6">
    <%= f.input :invoice_date, as: :datepicker %>
    <%= f.input :tax_rate, collection: Income::TAX_RATE %>
    <%= f.input :invoice_amount, as: :currency %>
    <%= f.input :explain %>
    </div>
  </div>

<hr>
  <%= f.simple_fields_for :payments do |builder| %>
    <%= render 'payment_fields', f: builder %>
  <% end %>

<% end %>
</div>