<%- model_class = Income -%>
<%= simple_form_for @income, html: { class: 'form-horizontal' } , 
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>
  <%= f.error_notification %> 

  <%= f.input :code %>
  <%= f.association :payer %>
  <%= f.input :abstract %>
  <%= f.input :bill_date, as: :string, input_html: { class: 'datepicker' } %>
  <%= f.input :account_date, as: :string, input_html: { class: 'datepicker' }  %>
  <%= f.input :income_amount, as: :currency %>
  <%= f.input :settlement_amount, as: :currency %>
  <%= f.input :invoice_date, as: :string, input_html: { class: 'datepicker' }  %>
  <%= f.input :invoice_num %>
  <%= f.input :tax_rate %>
  <%= f.input :explain %>
  <%= f.input :discount_rate, as: :percent, input_html: {readonly: true} %>
  <%= f.input :available_amount, as: :currency, input_html: {readonly: true} %>

  <div class="form-group">
  <div class="col-sm-offset-3 col-sm-9">
    <%= f.button :submit, class: 'btn-primary' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                incomes_path, class: 'btn btn-default' %>
  </div>           
  </div>
<% end %>

<script type="text/javascript">
$("#income_income_amount").change(function() {
  amount = $("#income_income_amount").val();
  available_amount = amount - (amount / 100 * $("#income_discount_rate").val());
  $("#income_settlement_amount").val(amount);
  $("#income_available_amount").val(available_amount);
});
</script>