<%- model_class = Income -%>
<%= simple_form_for @income, html: { class: 'form-horizontal' } , 
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>
  <%= f.error_notification %> 

  <div class="row">
    <div class="col-md-6">
    <%= f.input :code, input_html: { spellcheck: 'false' }%>
    <%= f.association :payer, label_method: :code_name, input_html: { class: 'js_select2' } %>
    <%= f.input :abstract %>
    <%= f.input :bill_date, as: :datepicker %>
    <%= f.input :account_date, as: :datepicker  %>
    </div>
    <div class="col-md-6">
    <%= f.input :income_amount, as: :currency %>
    <%= f.input :settlement_amount, as: :currency %>
    <%= f.input :invoice_date, as: :datepicker  %>
    <%= f.input :invoice_num %>
    <%= f.input :tax_rate, collection: Income::TAX_RATE %>
    <%= f.input :explain %>
    </div>
  </div>

<hr>
  <%= f.simple_fields_for :revenues do |builder| %>
    <%= render 'revenue_fields', f: builder %>
  <% end %>

  <div class="pull-right">
    <%= link_to_add_fields(f, :revenues) do %>
      <span class="glyphicon glyphicon-plus"></span> <%= t(".add_revenue") %>
    <% end %>
  </div>

  <div class="form-group">
  <div class="col-sm-offset-3 col-sm-9">
    <%= f.button :submit, class: 'btn-primary' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                incomes_path, class: 'btn btn-default' %>
  </div>           
  </div>
<% end %>

<script type="text/javascript">
$("#income_income_amount").change(function() {
  amount = $("#income_income_amount").val();
  available_amount = amount - (amount / 100 * $("#income_discount_rate").val());
  $("#income_settlement_amount").val(amount);
  $("#income_available_amount").val(available_amount);
});

(function() {
  $('form').on('click', '.add_fields', function(event) {
    var regexp, time, new_revence;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    new_revence = $(this).data('fields').replace(regexp, time);
    $(new_revence).insertBefore($(this).parent()).find('div.input-group.datepicker').datetimepicker({format: "YYYY-MM-DD", locale: "zh-CN"});
    return event.preventDefault();
  });

  $('form').on('click', '.glyphicon-remove', function(event) {
    $(this).prev().val(1);
    $(this).closest('.row').hide();
  });

}).call(this);
</script>