<%- model_class = Income -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-bordered table-hover datatable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:code) %></th>
      <th><%= model_class.human_attribute_name(:payer) %></th>
      <th><%= model_class.human_attribute_name(:abstract) %></th>
      <th><%= model_class.human_attribute_name(:bill_date) %></th>
      <th><%= model_class.human_attribute_name(:account_date) %></th>
      <th><%= model_class.human_attribute_name(:income_amount) %></th>
      <th><%= model_class.human_attribute_name(:settlement_amount) %></th>
      <th><%= model_class.human_attribute_name(:invoice_date) %></th>
      <th><%= model_class.human_attribute_name(:invoice_num) %></th>
      <th><%= model_class.human_attribute_name(:tax_rate) %></th>
      <th><%= model_class.human_attribute_name(:explain) %></th>
      <th><%= model_class.human_attribute_name(:discount_rate) %></th>
      <th><%= model_class.human_attribute_name(:available_amount) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @incomes.each do |income| %>
      <tr class="clickableRow">
        <td><%= link_to income.incomename, income_path(income) %></td>
        <td><%= income.code %></td>
        <td><%= income.payer %></td>
        <td><%= income.abstract %></td>
        <td><%= income.bill_date %></td>
        <td><%= income.account_date %></td>
        <td><%= income.income_amount %></td>
        <td><%= income.settlement_amount %></td>
        <td><%= income.invoice_date %></td>
        <td><%= income.invoice_num %></td>
        <td><%= income.tax_rate %></td>
        <td><%= income.explain %></td>
        <td><%= income.discount_rate %></td>
        <td><%= income.available_amount %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_income_path(income), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      income_path(income),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_income_path,
            :class => 'btn btn-primary' %>
