<%= simple_form_for @fee, html: { class: 'form-horizontal' },
  wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %> 
  <div class="row">
    <div class="col-md-5">
      <%= f.input :begin_date, as: :datepicker %>
    </div>
    <div class="col-md-5">
      <%= f.input :end_date, as: :datepicker  %>
    </div>
    <div class="col-md-2">
      <input id="searchButton" class="btn btn-default" type="button" value="<%= t('Search') %>">
    </div>
  </div>


<div class="row">
<div class="col-md-6 col-md-offset-6">
<table class="table table-bordered">
 <thead>
    <tr>
      <th><%= t('.no') %></th>
      <th><%= t('.income_amount') %></th>
      <th><%= t('.percent') %></th>
      <th><%= t('.fee') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>￥<%= f.input_field :part_amount1 %><%= f.error :part_amount1 %></td>
      <td><%= f.input_field :percent1 %><%= f.error :percent1 %></td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td>￥<%= f.input_field :part_amount2 %></td>
      <td><%= f.input_field :percent2 %></td>
      <td></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th><%= t(".summary") %></th>
      <td class="money" id="income_sum"></td>
      <td></td>
      <td class="money" id="fee_amount"></td>
    </tr>
  </tfoot>
</table>
</div>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th><%= Income.human_attribute_name(:code) %></th>
      <th><%= Income.human_attribute_name(:payer) %></th>
      <th><%= Income.human_attribute_name(:bill_date) %></th>
      <th><%= Income.human_attribute_name(:income_amount) %></th>
      <th><%= Income.human_attribute_name(:actual_amount) %></th>
      <th><%= Income.human_attribute_name(:cost_amount) %></th>
      <th><%= Income.human_attribute_name(:actual_cost_amount) %></th>
      <th><%= Income.human_attribute_name(:fee_amount) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @incomes.each_with_index  do |income, i| %>
      <tr class="income_tr" id="tr_<%=income.id%>">
        <td><%= link_to income.code, income_path(income) %></td>
        <td><%= income.payer.brief_name %></td>
        <td><%= income.bill_date %></td>
        <td class="money income_amount"><%= income.income_amount %></td>
        <td class="money"><%= income.actual_amount %></td>
        <td></td>
        <td></td>
        <td id="fee_detail_<%=income.id%>"><%= fee_detail_inputs(i, @fee.fee_details, income.id) %></td>
        <td><%= fee_detail_checkbox(@fee.fee_details, income.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-group">
<div class="col-sm-offset-3 col-sm-9">
  <%= f.button :submit, class: 'btn-primary' %>
  <%= link_to t('.cancel', default: t("helpers.links.cancel")),
              fees_path, class: 'btn btn-default' %>
</div>           
</div>
<% end %>


<script type="text/javascript">
$("#searchButton").click(function(){
  var params = {};
  params['begin_date'] = $('#fee_begin_date').val();
  params['end_date'] = $('#fee_end_date').val();
  location.href =  location.href + "?" + $.param(params);
});

$(".fee_incomes_id").click(function(){
  sumIncomeAmount();
});

function sumIncomeAmount() {
  var sum = 0;
  $(".income_tr").each(function() {
    var tr = $(this);
    if(tr.find(".fee_incomes_id").is(':checked')) {
      amount = parseCurrency(tr.find(".income_amount"));
      sum += amount;
    }
  });

  $("#income_sum").html(accounting.format(sum));
}

;NestedAttr = {
  inputs_template : 
    '￥<input type="hidden" name="fee[fee_details_attributes][0][id]" id="fee_fee_details_attributes_0_id"> \
    <input type="hidden" value="INCOME_ID" name="fee[fee_details_attributes][0][income_id]" id="fee_fee_details_attributes_0_income_id"> \
    <input type="number" name="fee[fee_details_attributes][0][fee_amount]" id="fee_fee_details_attributes_0_fee_amount">',
  
  destroy_template :
    '<input type="hidden" value="1" name="fee[fee_details_attributes][0][_destroy]">',

  get_next_attributes_count : function() {
    var max_index = -1;
    $("input[name^='fee[fee_details_attributes]'][name$='[id]']").each(function() {
      var index = parseInt($(this).attr("name").match(/\d+/)[0]);
      if(index > max_index) max_index = index
    });
    return max_index + 1;
  },

  fee_detail_inputs : function(income_id) {
    return this.inputs_template.replace(/0/g, this.get_next_attributes_count()).replace(/INCOME_ID/g, income_id);
  },

  destroy_flag : function(income_id) {
    var id_input = $("#tr_" + income_id).find("input[name^='fee[fee_details_attributes]'][name$='[id]']");
    var index = parseInt(id_input.attr("name").match(/\d+/)[0]);
    var id_value = id_input.val();
    if(id_value) {
      return id_input.prop('outerHTML') + this.destroy_template.replace(/0/g, index);
    } else {
      return "";
    }
  },
}

$("input[name='add_fee_detail']").click(function(){
  income_id = $(this).val();
  td = $("#fee_detail_" + income_id);

  if($(this).is(':checked')) {
    td.html(NestedAttr.fee_detail_inputs(income_id));
  } else {
    td.html(NestedAttr.destroy_flag(income_id));
  }
  
});

$(document).ready(function(){
  sumIncomeAmount();
});
</script>