<%= simple_form_for @fee, html: { class: 'form-horizontal' },
  wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %> 
  <div class="row">
    <div class="col-md-5">
      <%= f.input :begin_date, as: :datepicker %>
    </div>
    <div class="col-md-5">
      <%= f.input :end_date, as: :datepicker  %>
    </div>
    <div class="col-md-2">
      <input id="searchButton" class="btn btn-default" type="button" value="<%= t('Search') %>">
    </div>
  </div>


<div class="row">
<div class="col-md-6 col-md-offset-6">
<table class="table table-bordered">
 <thead>
    <tr>
      <th><%= t('.no') %></th>
      <th><%= t('.income_amount') %></th>
      <th><%= t('.percent') %></th>
      <th><%= t('.fee') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>￥<%= f.input_field :part_amount1 %></td>
      <td><%= f.input_field :percent1 %></td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td>￥<%= f.input_field :part_amount2 %></td>
      <td><%= f.input_field :percent2 %></td>
      <td></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th><%= t(".summary") %></th>
      <td class="money" id="invoice_sum"></td>
      <td></td>
      <td class="money" id="unpaid_sum"></td>
    </tr>
  </tfoot>
</table>
</div>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th><%= Income.human_attribute_name(:code) %></th>
      <th><%= Income.human_attribute_name(:payer) %></th>
      <th><%= Income.human_attribute_name(:bill_date) %></th>
      <th><%= Income.human_attribute_name(:income_amount) %></th>
      <th><%= Income.human_attribute_name(:actual_amount) %></th>
      <th><%= Income.human_attribute_name(:cost_amount) %></th>
      <th><%= Income.human_attribute_name(:actual_cost_amount) %></th>
      <th><%= Income.human_attribute_name(:fee_amount) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>

    <% @incomes.each_with_index  do |income, i| %>
      <tr class="income_tr">
        <td><%= link_to income.code, income_path(income) %></td>
        <td><%= income.payer.brief_name %></td>
        <td><%= income.bill_date %></td>
        <td class="money income_amount"><%= income.income_amount %></td>
        <td class="money"><%= income.actual_amount %></td>
        <td></td>
        <td></td>
        <td><input class="fee_incomes_fee_amount numeric decimal optional" name="fee[incomes_attributes][<%= i %>][fee_amount]" type="number" value="<%= income.fee_amount %>"/></td>
        <td>
          <input class="fee_incomes_id" name="fee[incomes_attributes][<%= i %>][id]" type="checkbox" value="<%= income.id %>" checked="checked"/>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-group">
<div class="col-sm-offset-3 col-sm-9">
  <%= f.button :submit, class: 'btn-primary' %>
  <%= link_to t('.cancel', default: t("helpers.links.cancel")),
              fees_path, class: 'btn btn-default' %>
</div>           
</div>
<% end %>


<script type="text/javascript">
$("#searchButton").click(function(){
  var params = {};
  params['begin_date'] = $('#fee_begin_date').val();
  params['end_date'] = $('#fee_end_date').val();
  location.href =  "<%= new_fee_path %>?" + $.param(params);
});

$(".fee_incomes_id").click(function(){
  sumIncomeAmount();
});

function sumIncomeAmount() {
  var sum = 0;
  $(".income_tr").each(function() {
    var tr = $(this);
    if(tr.find(".fee_incomes_id").is(':checked')) {
      
      amount = parseCurrency(tr.find(".income_amount"));
      sum += amount;
    }
  });

  $("#fee_part_amount1").val(sum);
}

$(document).ready(function(){
  sumIncomeAmount();
});
</script>